.Rproj.user
.Rhistory
.RData
AllThemesTablesCTY.csv
AllThemesTablesDC.csv
AllThemesTablesED.csv
AllThemesTablesGA.csv
AllThemesTablesLEA.csv
AllThemesTablesLT.csv
AllThemesTablesNDC.csv
AllThemesTablesPA.csv
AllThemesTablesPR.csv
AllThemesTablesRA.csv
AllThemesTablesRE.csv
AllThemesTablesSA.csv
AllThemesTablesST.csv
Census2011_Admin_Counties_generalised20m.zip
Census2011_Cities_Legal_Towns.zip
Census2011_Constituencies_2007.zip
Census2011_Constituencies_2013.zip
Census2011_Electoral_Divisions_generalised20m.zip
Census2011_Gaeltacht.zip
Census2011_Local_Electoral_Areas_2008.zip
Census2011_NUTS2_generalised20m.zip
Census2011_NUTS3_generalised20m.zip
Census2011_Province_generalised20m.zip
Census2011_Settlements.zip
Census2011_Small_Areas_generalised20m.zip
IrishCensus.Rproj
Theme,breakdown-1.xlsx
fields.csv
ie11census-package.R
ie11census.Rcheck
ie11census_1.0.tar.gz
irishcensus.RData
irishcensus2.RData
makedata.R
makedata2.R
themetab.csv
